.footer{
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items:center;
  margin-top:25px;
  margin-bottom:25px;
}

.footer-container{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;
  background-color: white;
  -moz-box-shadow: 0 -5px 6px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 -5px 6px rgba(0,0,0,0.2);
  box-shadow: 0 -5px 6px rgba(0,0,0,0.2);
}

.right-footer{
  position: absolute;
  right: 20px;
}
