.footer{
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items:center;
  margin-top:25px;
  margin-bottom:25px;
}

.footer-container{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.right-footer{
  position: absolute;
  right: 20px;
}
