<div class="container">
  <div *ngIf="isLoading" class="loader">
    <app-pizza-loader></app-pizza-loader>
  </div>

  <button *ngIf="isRoll" class="btn btn-success button" (click)="reroll()">Choisir</button>
  <button *ngIf="isRoll" class="btn btn-info button" (click)="reroll()">Reroll</button>
  <!--<button *ngIf="!isRoll" class="btn btn-info button" (click)="reroll()">Ajouter à une liste</button>-->
  <div *ngIf="!isRoll" class="selection">
    <p>Ajouter à ma liste</p>
    <select (change)="selectValue($event)" class="form-control select">
      <option value="" disabled selected>Choisissez une liste</option>
      <option *ngFor="let listSelection of lists"
              [value]="listSelection.id">
        {{listSelection.name}}
      </option>
    </select>
    <div> <img src="assets/img/add.png" (click)="addRestaurantToList()" width="30"/> </div>
    <p *ngIf="successMessage"> {{ successMessage }} </p>
  </div>

  <p>{{ restaurant.name }}</p>
  <p>{{ restaurant.type }}</p>
  <p>{{ restaurant.address }}</p>
  <p>{{ restaurant.postalCode }}</p>
  <p>{{ restaurant.characteristics }}</p>
  <p>{{ restaurant.allergens }}</p>
  <p>{{ restaurant.website }}</p>
  <p>{{ restaurant.city }}</p>

</div>
