<div class="details-container">
  <div class="content">
    <div class="main-title">
      <h1 class="centered-text">Detail du restaurant</h1>
      <div *ngIf="isLoading" class="loader">
        <app-pizza-loader></app-pizza-loader>
      </div>
    </div>
    <div class="separator margin-bottom"></div>
    <div *ngIf="!isRoll">
      <p>Ajouter à ma liste</p>
      <div  class="selection">
        <select (change)="selectValue($event)" class="form-control select">
          <option value="" disabled selected>Choisissez une liste</option>
          <option *ngFor="let listSelection of lists"
                  [value]="listSelection.id">
            {{listSelection.name}}
          </option>
        </select>
        <div> <img src="assets/img/add.png" (click)="addRestaurantToList()" width="30"/> </div>
      </div>
      <p *ngIf="successMessage"> {{ successMessage }} </p>
    </div>
    <div *ngIf="restaurant">
      <p><b>Nom : </b>{{ restaurant.name }}</p>
      <p><b>Type : </b>{{ restaurant.type }}</p>
      <p><b>Adresse : </b>{{ restaurant.address }}</p>
      <p><b>Code Postal : </b>{{ restaurant.postalCode }}</p>
      <p><b>Ville : </b>{{ restaurant.city }}</p>
      <p><b>Caractéritisques : </b>{{ restaurant.characteristics }}</p>
      <p><b>Allergènes : </b>{{ restaurant.allergens }}</p>
      <p><b>Site internet : </b>{{ restaurant.website ? restaurant.website : "Non renseigné" }}</p>
    </div>
    <div *ngIf="hasCoordinates">
      <!--<agm-map [latitude]="lat" [longitude]="lng"></agm-map>-->
    </div>
    <div *ngIf="isRoll" class="margin-top  margin-auto" >
      <button class="btn btn-success button full-width" (click)="choose()">Valider</button>
    </div>
  </div>
</div>
