<nav class="navbar header">

  <div *ngIf="isConnected">
    <!-- TODO profile picture + name -->
  </div>
  <!-- logo -->
  <div class="navbar-brand logo-container">
    <div class="navbar-item pointer" (click)="navigate('/')">
      <img src="assets/img/logo.png" class="logo">
    </div>
  </div>

  <div *ngIf="isConnected" class="right-header">
    <button class="btn btn-default" (click)="navigate('/restaurants')">Restaurants</button>
    <button class="btn btn-primary" (click)="logout()"> Déconnexion </button>
  </div>
  <div *ngIf="!isConnected" class="right-header">
    <button class="btn btn-primary" (click)="navigate('/login')"> Connexion </button>
    <button class="btn btn-default" (click)="navigate('/register')"> Inscription </button>
  </div>
</nav>
<div class="separator"></div>
