<div class="container">
  <div class="content">
    <div class="main-title">
      <h1 class="centered-text">Détails</h1>
      <div class="separator"></div>
    </div>
    <div *ngIf="isLoading" class="loader">
      <app-pizza-loader></app-pizza-loader>
    </div>
    <div *ngIf="ticket && !isLoading">
      <div>Titre : {{ticket.title}}</div>
      <div>
        <div>Type : {{ticket.type}}</div>
        <div>Etat : {{ticket.status}}</div>
      </div>
      <div>
        <div>Description :</div>
        <div>{{ticket.message}}</div>
      </div>
      <div class="separator"></div>
      <div>
        <div>Commentaires</div>
        <div *ngfor="let comment of ticket.comments">
          <div *ngIf="comment.isAuthor" class="author-comment" >
            {{comment.message}}
          </div>
          <div *ngIf="comment.isAuthor" class="not-author-comment">
            {{comment.message}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

