<div class="ticket-detail-container">
  <div class="content">
    <div class="main-title">
      <h1 class="centered-text">Détails</h1>
      <div class="separator"></div>
    </div>
    <div *ngIf="isLoading" class="loader">
      <app-pizza-loader></app-pizza-loader>
    </div>
    <div *ngIf="ticket && !isLoading">
      <br/>
      <div><b>Titre :</b> {{ticket.title}}</div>
      <div class="info-row">
        <div><b>Type :</b> {{ticket.type}}</div>
        <div><b>Etat :</b> {{ticket.status}}</div>
      </div>
      <br/>
      <div>
        <div><b>Description :</b></div>
        <div>{{ticket.message}}</div>
      </div>
      <br/>
      <div class="separator"></div>
      <div class="comments">
        <div>Commentaires :</div>
        <div class="scrollable-comments">
          <div *ngFor="let comment of ticket.comments" >
            <div *ngIf="comment.isAuthor" class="chat" >
              <div class="author-comment">{{comment.message}}</div>
            </div>
            <div *ngIf="!comment.isAuthor" class="chat">
              <div class="not-author-comment">{{comment.message}}</div>
            </div>
          </div>
        </div>

        <form class="comment" (ngSubmit)="comment()" [formGroup]="CommentForm">
          <input type="text" class="form-control" formControlName="message" id="message" placeholder="Commentaire"/>
          <button class="btn btn-block btn-primary send" type="submit">Commenter</button>
        </form>
        <div *ngIf="submitted && message" class="error centered-text">{{message}}</div>
      </div>
    </div>
  </div>
</div>

