<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card mx-4">
        <div class="card-body p-4">
          <form [formGroup]="UserForm" (ngSubmit)="onFormSubmit()">
            <h1 class="centered-text">Login</h1>

            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Email"  formControlName="email">
            </div>
            <div class="input-group mb-3">
              <input type="password" class="form-control" placeholder="Password"  formControlName="password">
            </div>
            <button type="submit" class="btn btn-block btn-success">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="error centered-text">{{message}}</div>
</div>
