<div class="search-container">
  <div class="content">
    <div class="main-title">
      <h1 class="centered-text">Recherche</h1>
    </div>
    <div class="separator"></div>
    <form [formGroup]="SearchForm" (ngSubmit)="onFormSubmit()">
      <div class="inputs">
        <div class="input-row">
          <input type="text" class="form-control" formControlName="name" id="name" placeholder="Nom"/>
        </div>
        <div class="input-row">
          <input type="text" class="form-control input-double" formControlName="city" id="city" placeholder="Ville"/>
          <input type="text" class="form-control input-double" formControlName="postalCode" id="postalCode" placeholder="Code Postal"/>
        </div>
      </div>
      <button type="submit" class="btn btn-block btn-success">Rechercher</button>
      <div *ngIf="submitted && errorMessage" class="error centered-text">{{errorMessage}}</div>
    </form>
    <div class="results">
      <div class="with-data" *ngIf="hasResults && restaurants && restaurants.length > 0">
        <div class="legend">
          <div class="col-sm"><b>Nom</b></div>
          <div class="col-sm"><b>Type</b></div>
          <div class="col-sm"><b>Adresse</b></div>
          <div class="col-sm"><b>Ville</b></div>
          <div class="col-sm"></div>
        </div>
        <div *ngFor="let restaurant of restaurants | paginate: { itemsPerPage: 5, currentPage: p }">
          <div class="separator"></div>
          <app-restaurant-item [restaurant]="restaurant"></app-restaurant-item>
        </div>
        <pagination-controls (pageChange)="p = $event"  class="pagination"></pagination-controls>
      </div>
      <div class="no-results" *ngIf="hasResults && (!restaurants || restaurants.length === 0)">
        Aucun résultat !
        <button type="submit" class="btn btn-block btn-info small-button" (click)="gotToAdd()">L'ajouter</button>
      </div>
    </div>
  </div>
</div>

